@import "../../styles/index.scss";

#new-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  & form {
    max-width: 800px;
    width: 100%;
    & input {
      font-size: 1.3em;
    }
    & select {
      width: 100%;
      margin: 0.5rem;
      font-size: 1.3em;
      padding: 0.5rem;
      border: 3px solid darken($color: $primary-color, $amount: 10);
      border-radius: 5px;
      background-color: white;
      color: darken($color: $primary-color, $amount: 10);
    }
    & button {
      font-size: 1.3em;
      font-weight: 300;
      cursor: pointer;
    }
  }
}

#adverts-page {
    text-align: center;
  ul > li {
      text-align: initial;
      display: inline-block;
      margin: 0.5rem;
  }
}

#advert-page{
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-flow: column;
  transform: scale();
  & .product{
    max-width: 600px;
    margin-bottom: 1rem;
  }
  & .delete{
    background-color: $error-color;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.3s ease all;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
}